<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- 角色数据计算模块-监听生产者发送的消息开始 -->
	<!-- 用于接收消息的处理类 -->
	<bean id="actorTaskHandler"
		class="com.iwgame.xengine.xtask.guild.worker.data.ActorTask">
		<property name="contextService" ref="guildContextService"/>
		<property name="dataService" ref="guildDataService"/>
		<property name="transform" value="${username.transform}" />
		<property name="encoding" value="${username.encoding}" />
		<property name="offset" value="${username.offset}" />
	</bean>

	<!-- 用于消息的监听的代理类MessageListenerAdapter -->
	<bean id="actorTaskListenerAdapter"
		class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="actorTaskHandler" />
		<property name="defaultListenerMethod" value="handleMessage" />
		<property name="messageConverter" ref="messageConverter" />
	</bean>

	<!-- 用于消息的监听的容器类SimpleMessageListenerContainer，对于queueName的值一定要与定义的Queue的值相同 -->
	<bean
		class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer">
		<property name="queueNames" value="${guild.flume.actor.queue.name}" />
		<property name="connectionFactory" ref="guildflumeConnectionFactory" />
		<property name="messageListener" ref="actorTaskListenerAdapter" />
		<property name="concurrentConsumers" value="3" />
	</bean>
	<!-- 角色数据计算模块-监听生产者发送的消息结束 -->
	
	<!-- 消费数据计算模块-监听生产者发送的消息开始 -->
	<!-- 用于接收消息的处理类 -->
	<bean id="consumeTaskHandler"
		class="com.iwgame.xengine.xtask.guild.worker.data.ConsumeTask">
		<property name="contextService" ref="guildContextService"/>
		<property name="dataService" ref="guildDataService"/>
		<property name="transform" value="${username.transform}" />
		<property name="encoding" value="${username.encoding}" />
		<property name="offset" value="${username.offset}" />
	</bean>

	<!-- 用于消息的监听的代理类MessageListenerAdapter -->
	<bean id="consumeTaskListenerAdapter"
		class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="consumeTaskHandler" />
		<property name="defaultListenerMethod" value="handleMessage" />
		<property name="messageConverter" ref="messageConverter" />
	</bean>

	<!-- 用于消息的监听的容器类SimpleMessageListenerContainer，对于queueName的值一定要与定义的Queue的值相同 -->
	<bean
		class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer">
		<property name="queueNames" value="${guild.flume.consume.queue.name}" />
		<property name="connectionFactory" ref="guildflumeConnectionFactory" />
		<property name="messageListener" ref="consumeTaskListenerAdapter" />
		<property name="concurrentConsumers" value="3" />
	</bean>
	<!-- 消费数据计算模块-监听生产者发送的消息结束 -->
	
	<!-- 充值数据计算模块-监听生产者发送的消息开始 -->
	<!-- 用于接收消息的处理类 -->
	<bean id="paidTaskHandler"
		class="com.iwgame.xengine.xtask.guild.worker.data.PaidTask">
		<property name="contextService" ref="guildContextService"/>
		<property name="dataService" ref="guildDataService"/>
		<property name="transform" value="${username.transform}" />
		<property name="encoding" value="${username.encoding}" />
		<property name="offset" value="${username.offset}" />
	</bean>

	<!-- 用于消息的监听的代理类MessageListenerAdapter -->
	<bean id="paidTaskListenerAdapter"
		class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="paidTaskHandler" />
		<property name="defaultListenerMethod" value="handleMessage" />
		<property name="messageConverter" ref="messageConverter" />
	</bean>

	<!-- 用于消息的监听的容器类SimpleMessageListenerContainer，对于queueName的值一定要与定义的Queue的值相同 -->
	<bean
		class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer">
		<property name="queueNames" value="${guild.flume.paid.queue.name}" />
		<property name="connectionFactory" ref="guildflumeConnectionFactory" />
		<property name="messageListener" ref="paidTaskListenerAdapter" />
		<property name="concurrentConsumers" value="3" />
	</bean>
	<!-- 充值数据计算模块-监听生产者发送的消息结束 -->
	
	<!-- 登录数据计算模块-监听生产者发送的消息开始 -->
	<!-- 用于接收消息的处理类 -->
	<bean id="loginTaskHandler"
		class="com.iwgame.xengine.xtask.guild.worker.data.LoginTask">
		<property name="contextService" ref="guildContextService"/>
		<property name="dataService" ref="guildDataService"/>
		<property name="transform" value="${username.transform}" />
		<property name="encoding" value="${username.encoding}" />
		<property name="offset" value="${username.offset}" />
	</bean>

	<!-- 用于消息的监听的代理类MessageListenerAdapter -->
	<bean id="loginTaskListenerAdapter"
		class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="loginTaskHandler" />
		<property name="defaultListenerMethod" value="handleMessage" />
		<property name="messageConverter" ref="messageConverter" />
	</bean>

	<!-- 用于消息的监听的容器类SimpleMessageListenerContainer，对于queueName的值一定要与定义的Queue的值相同 -->
	<bean
		class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer">
		<property name="queueNames" value="${guild.flume.login.queue.name}" />
		<property name="connectionFactory" ref="guildflumeConnectionFactory" />
		<property name="messageListener" ref="loginTaskListenerAdapter" />
		<property name="concurrentConsumers" value="3" />
	</bean>
	<!-- 登录数据计算模块-监听生产者发送的消息结束 -->
	
	



</beans>