<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 发奖模块-监听生产者发送的消息开始 -->
	<!-- 用于接收消息的处理类 -->
	<bean id="rewardGivingTaskHandler"
		class="com.iwgame.xengine.xtask.wg1.worker.reward.RewardGivingTask" />

	<!-- 用于消息的监听的代理类MessageListenerAdapter -->
	<bean id="rewardGivingTaskListenerAdapter"
		class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="rewardGivingTaskHandler" />
		<property name="defaultListenerMethod" value="handleMessage"></property>
		<property name="messageConverter" ref="messageConverter"></property>
	</bean>

	<!-- 用于消息的监听的容器类SimpleMessageListenerContainer，对于queueName的值一定要与定义的Queue的值相同 -->
	<bean
		class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer">
		<property name="queueNames" value="${task.reward.queue.name}"></property>
		<property name="connectionFactory" ref="connectionFactory"></property>
		<property name="messageListener" ref="rewardGivingTaskListenerAdapter"></property>
		<property name="concurrentConsumers" value="1"></property>
		<property name="prefetchCount" value="10"></property>
	</bean>
	<!-- 发奖模块-监听生产者发送的消息结束 -->
	
	
	<!-- 备用发奖模块-监听生产者发送的消息开始 -->
	<!-- 用于接收消息的处理类 -->
	<bean id="rewardBackupGivingTaskHandler"
		class="com.iwgame.xengine.xtask.wg1.worker.reward.RewardBackupGivingTask" />

	<!-- 用于消息的监听的代理类MessageListenerAdapter -->
	<bean id="rewardBackupGivingTaskListenerAdapter"
		class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="rewardBackupGivingTaskHandler" />
		<property name="defaultListenerMethod" value="handleMessage"></property>
		<property name="messageConverter" ref="messageConverter"></property>
	</bean>

	<!-- 用于消息的监听的容器类SimpleMessageListenerContainer，对于queueName的值一定要与定义的Queue的值相同 -->
	<bean
		class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer">
		<property name="queueNames" value="task.reward-backup.queue"></property>
		<property name="connectionFactory" ref="connectionFactory"></property>
		<property name="messageListener" ref="rewardBackupGivingTaskListenerAdapter"></property>
		<property name="concurrentConsumers" value="5"></property>
		<property name="prefetchCount" value="10"></property>
	</bean>
	<!-- 备用发奖模块-监听生产者发送的消息结束 -->

</beans>