<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<import resource="classpath:conf/applicationContext-pconf.xml" />
	<import resource="classpath:conf/applicationContext-connector.xml" />
	<import resource="classpath:conf/applicationContext-common.xml" />
	<import resource="classpath:conf/applicationContext-report.xml" />

	<!-- 自动注入Service -->
	<context:component-scan base-package="com.iwgame.gm.p1.security">
		<context:include-filter type="regex"
			expression=".*service.*" />
		<context:include-filter type="regex"
			expression=".*dao.*" />
	</context:component-scan>
	<context:annotation-config />
	
	<!-- 全局属性资源 -->
	<bean id="globalResource" class="com.iwgame.gm.p1.security.common.shared.bean.GlobalResource">
		<property name="onlineMaxNum" value="${security.lockaccount.online.maxnum}"></property>
		<property name="mailnoticeMaxNum" value="${security.lockaccount.mailnotice.maxnum}"></property>
		<property name="fileMaxSize" value="${security.file.maxsize}"></property>
		<property name="fileMaxLine" value="${security.file.maxline}"></property>
		<property name="exportMaxNum" value="${security.regisinfo.exportMaxNum}"></property>
	</bean>
	
	<!-- 文件上传处理bean -->
	<bean id="fileUploadForLockAccount" class="com.iwgame.gm.p1.security.modules.operate.server.service.FileUploadForLockAccount"></bean>
	<bean id="fileUploadForUnlockAccount" class="com.iwgame.gm.p1.security.modules.operate.server.service.FileUploadForUnlockAccount"></bean>
	<bean id="fileUploadForSafeMode" class="com.iwgame.gm.p1.security.modules.operate.server.service.FileUploadForSafeMode"></bean>
	<bean id="fileUploadForUnsafeMode" class="com.iwgame.gm.p1.security.modules.operate.server.service.FileUploadForUnsafeMode"></bean>
	
	<bean id="loginPassModifyRecordExportQuery" class="com.iwgame.gm.p1.security.modules.query.server.service.LoginPassModifyRecordExportQuery"/>
	<bean id="killedRecordExportQuery" class="com.iwgame.gm.p1.security.modules.query.server.service.KilledRecordExportQuery"/>
	<bean id="safeModeRecordExportQuery" class="com.iwgame.gm.p1.security.modules.query.server.service.SafeModeRecordExportQuery"/>
	
	<bean id="securityLockAccountService" class="com.iwgame.gm.p1.security.modules.operate.server.service.SecurityLockAccountServiceImpl"></bean>
	<bean id="securityUnlockAccountService" class="com.iwgame.gm.p1.security.modules.operate.server.service.SecurityUnlockAccountServiceImpl"></bean>
	<bean id="securitySafeModeService" class="com.iwgame.gm.p1.security.modules.operate.server.service.SecuritySafeModeServiceImpl"></bean>
	<bean id="securityUnsafeModeService" class="com.iwgame.gm.p1.security.modules.operate.server.service.SecurityUnsafeModeServiceImpl"></bean>
	<bean id="securityKilledCauseService" class="com.iwgame.gm.p1.security.modules.manage.server.service.SecurityKilledCauseServiceImpl"></bean>
	<bean id="securitySafeModeCauseService" class="com.iwgame.gm.p1.security.modules.manage.server.service.SecuritySafeModeCauseServiceImpl"></bean>
	<bean id="securityDangerIdCardService" class="com.iwgame.gm.p1.security.modules.manage.server.service.SecurityDangerIdCardServiceImpl"/>
	
	<bean id="securityLoginPassModifyRecordService" class="com.iwgame.gm.p1.security.modules.query.server.service.SecurityLoginPassModifyRecordServiceImpl"/>
	<bean id="securityKilledRecordService" class="com.iwgame.gm.p1.security.modules.query.server.service.SecurityKilledRecordServiceImpl"/>
	<bean id="securityRegisInfoQueryService" class="com.iwgame.gm.p1.security.modules.query.server.service.SecurityRegisInfoQueryServiceImpl"/>
	<bean id="safeModeRecordService" class="com.iwgame.gm.p1.security.modules.query.server.service.SecuritySafeModeRecordServiceImpl"/>
	<bean id="iwResultTrackService" class="com.iwgame.gm.p1.security.modules.query.server.service.SecurityIwResultTrackServiceImpl"/>
	
	<bean id="accountDataExportQuery" class="com.iwgame.gm.p1.security.modules.query.server.service.AccountDataExportQuery"/>
	<!-- 日志处理 -->
	<bean id="businessLogger" class="com.iwgame.gm.p1.security.common.server.OperatorLogger">
		<property name="targetSubfix" value="security"></property>
	</bean>
	<bean id="bizLoggerService" class="com.iwgame.gm.p1.security.common.server.service.impl.BizLoggerServiceImpl"/>
	<!-- 加载配置文件 -->
	<!-- 如果有读取配置文件的需求，请去掉注释 -->
	<bean id="securityPropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<!--开发环境下的配置文件 -->
				<value>classpath:security.properties</value>
				<!-- 生产环境下的配置文件 -->
				<value>file:/var/config/xportal-oa/security/security.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>
	
	<!-- 配置MQ连接源-->
	<bean id="securityRabbitMQSource" class="com.rabbitmq.client.ConnectionFactory">
		<property name="username" value="${security.xportaltask.mq.username}" />
		<property name="password" value="${security.xportaltask.mq.password}" />
		<property name="virtualHost" value="${security.xportaltask.mq.virtualhost}" />
		<property name="host" value="${security.xportaltask.mq.host}" />
		<property name="port" value="${security.xportaltask.mq.port}" />
		<property name="requestedHeartbeat" value="5" />
	</bean>
	
	<bean id="securityMQConnectionFactory"
		class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
		<constructor-arg ref="securityRabbitMQSource" />
		<property name="channelCacheSize" value="${security.xportaltask.mq.channelcachesize}" />
	</bean>

	<!-- 创建rabbitAdmin 代理类,初始调用initialize,它会指定执行我们定义的Exchange,Queue,Binding-->
	<bean class="org.springframework.amqp.rabbit.core.RabbitAdmin"
		init-method="initialize">
		<constructor-arg ref="securityMQConnectionFactory" />
	</bean>

	<bean id="securityRabbitTemplate" class="org.springframework.amqp.rabbit.core.RabbitTemplate">
		<constructor-arg ref="securityMQConnectionFactory"></constructor-arg>
	</bean>
	
	<bean id="securityLockAccountErData" class="com.iwgame.gm.p1.security.modules.operate.server.bean.ERData">
		<property name="exchangeName" value="${security.account.exchange.name}"></property>
		<property name="routinKeyName" value="${task.security.lockaccount.queue.binding.routingkey}"></property>
	</bean>
	<bean id="securityUnlockAccountErData" class="com.iwgame.gm.p1.security.modules.operate.server.bean.ERData">
		<property name="exchangeName" value="${security.account.exchange.name}"></property>
		<property name="routinKeyName" value="${task.security.unlockaccount.queue.binding.routingkey}"></property>
	</bean> 
	<bean id="securitySafeModeErData" class="com.iwgame.gm.p1.security.modules.operate.server.bean.ERData">
		<property name="exchangeName" value="${security.account.exchange.name}"></property>
		<property name="routinKeyName" value="${task.safe.model.queue.binding.routingkey}"></property>
	</bean> 
	<bean id="securityUnsafeModeErData" class="com.iwgame.gm.p1.security.modules.operate.server.bean.ERData">
		<property name="exchangeName" value="${security.account.exchange.name}"></property>
		<property name="routinKeyName" value="${task.unsafe.model.queue.binding.routingkey}"></property>
	</bean> 
</beans>
