<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- 消费数据计算模块-监听生产者发送的消息开始 -->
	<!-- 用于接收消息的处理类 -->
	<bean id="registGuildTaskHandler"
		class="com.iwgame.xengine.xtask.guild.worker.service.RegistGuildTask">
		<property name="frontService" ref="frontService"/>
	</bean>

	<!-- 用于消息的监听的代理类MessageListenerAdapter -->
	<bean id="registGuildTaskListenerAdapter"
		class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="registGuildTaskHandler" />
		<property name="defaultListenerMethod" value="handleMessage" />
		<property name="messageConverter" ref="messageConverter" />
	</bean>

	<!-- 用于消息的监听的容器类SimpleMessageListenerContainer，对于queueName的值一定要与定义的Queue的值相同 -->
	<bean
		class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer">
		<property name="queueNames" value="${guild.task.registguild.queue.name}" />
		<property name="connectionFactory" ref="guildConnectionFactory" />
		<property name="messageListener" ref="registGuildTaskListenerAdapter" />
		<property name="concurrentConsumers" value="3" />
	</bean>
	<!-- 消费数据计算模块-监听生产者发送的消息结束 -->
	
	<!-- 消费数据计算模块-监听生产者发送的消息开始 -->
	<!-- 用于接收消息的处理类 -->
	<bean id="joinRaceTaskHandler"
		class="com.iwgame.xengine.xtask.guild.worker.service.JoinRaceTask">
		<property name="frontService" ref="frontService"/>
	</bean>

	<!-- 用于消息的监听的代理类MessageListenerAdapter -->
	<bean id="joinRaceTaskListenerAdapter"
		class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="joinRaceTaskHandler" />
		<property name="defaultListenerMethod" value="handleMessage" />
		<property name="messageConverter" ref="messageConverter" />
	</bean>

	<!-- 用于消息的监听的容器类SimpleMessageListenerContainer，对于queueName的值一定要与定义的Queue的值相同 -->
	<bean
		class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer">
		<property name="queueNames" value="${guild.task.joinrace.queue.name}" />
		<property name="connectionFactory" ref="guildConnectionFactory" />
		<property name="messageListener" ref="joinRaceTaskListenerAdapter" />
		<property name="concurrentConsumers" value="3" />
	</bean>
	<!-- 消费数据计算模块-监听生产者发送的消息结束 -->
	
	
	


</beans>